/* Small Screen */
.container {
  margin: 2rem auto;
  padding: 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero__left {
  margin-bottom: 1rem;
}

.hero__title {
  color: #6096B4;
  margin-bottom: 1rem;
  font-size: 3.052rem;
}

.hero__caption {
  color: #93BFCF;
  margin-bottom: 1rem;
  font-size: 1.59rem;
}

.hero__description {
  color: #93BFCF;
  margin-bottom: 1rem;
}

.hero__button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: #6096B4;
  color: #fff;
}

.hero__image {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

/* Medium Screen */
@media (min-width: 768px) {
  /*
     * Nothing TODO Here.
     * We dont change style Hero. 
     */
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
  }

  .hero {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: left;
  }

  .hero__left {
    flex-basis: 40%;
  }

  .hero__right {
    flex-basis: 60%;
  }
}
