.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  width: 300px;
  height: 300px;
  border-radius: 1rem;
  box-shadow: 0px 5px 4px 1px #93BFCF;
  margin-bottom: 4rem;
}

.card__detail {
  text-decoration: none;
}

.card__title {
  color: #93BFCF;
  font-size: 1.95rem;
  margin-bottom: 1.5rem;
}

.card__content {
  font-size: 2.441rem;
  margin-top: 0;
}
