/* Small Screen */

.container {
    background-color: #4CC9F0;
    padding: 1rem;
    color: white;
}

.navbar__brand {
    margin-bottom: 1rem;
}

.navbar__list {
    list-style: none;
}

.navbar__item {
    margin-bottom: 1rem;
}

/* Medium Screen */
@media(min-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar__brand {
        margin: 0;
    }

    .navbar__list {
        display: flex;
        flex-direction: row;
    }

    .navbar__item {
        margin: 0 1rem;
    }
}